/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

/* Global Styles */
body {
    font-family: 'Josefin Slab', serif;
    background-color: #F2E8CF; /* Light beige */
    color: #386641; /* Dark green */
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #6A994E; /* Green */
    color: #F2E8CF; /* Light beige */
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    margin-right: 10px;
    color: #F2E8CF; /* Light beige */
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    margin-top: 20px;
    background-color: #6A994E; /* Green */
    color: #F2E8CF; /* Light beige */
    padding: 10px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #BC4749; /* Red */
    color: #F2E8CF; /* Light beige */
    border: none;
    cursor: pointer;
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 16px; 
}

button:hover {
    background-color: #386641; /* Dark green */
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 20px; 
}
